* {
    margin: 0;
    padding: 0;
    user-select: none;
}

html, body {
    height: -webkit-fill-available;
    overflow-y: auto;
}
button{
    cursor: pointer;
    padding: 10px;
    transition: transform ease 0.2s;
    border: none;
}
button:hover{
    transform: scale(110%);
    color: #09334c;
}


:root {
    --left-background-color:#ffffff;
    --left-text-color:#061f35;
    --right-background-color:#ffffff;
    --right-text-color:#ffffff;
    --primary-color: #007BFF;
    --secondary-color: #6C757D;
    --main-color: #28A745; 
    --gradient-primary: linear-gradient(135deg, #3c4856, #054d4c);
    --gradient-secondary: linear-gradient( #6C757D, #075baf); 
    --gradient-main: linear-gradient(135deg, #28A745, #1C7C34); 
    --gradient-accent: linear-gradient(90deg, #fefbff, #cfc2e9);
    --gradient-neutral: linear-gradient(180deg, #167992, #21694f); 
}

.container {
    overflow-y: auto;
    /* background: var(--gradient-neutral); */
    display: flex;
    flex-direction: column;
    height: 100vh;
    height: -webkit-fill-available;
    box-sizing: border-box;
}

.main {
    /* background-color: #054d4c; */
    display: flex;
    flex: 1;
    /* height: 85%; */
    /* align-items: center; */
    /* justify-content: space-evenly; */
}

.imageframe {
    background:var(--left-background-color);
    color: var(--left-text-color);
    flex: 1;
    display: flex;
    height: 100%;
    /* padding: 10px; */
}

.imagebox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: flex; */
    background-color: #061f35;
    flex: 1;
    
    /* border-radius: 20px; */

}
.musicinfo{
    /* height:2rem; */
    display: flex;
    flex-direction: column;
    background-color: #061f35;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    overflow-x: hidden;
    
}
#mainmusicgif {
    width: 0px;
    transition: width ease 1s;
}
#musicname{
    font-size: 1.5rem;
}
.imagebox img {
    /* border: 2px solid white; */
    /* border-radius: 20px; */
    /* padding: 10px; */
    /* border-radius: 50%; */

    width: 250px;
    box-shadow: 2px 2px 10px 5px rgba(255, 255, 255, 0.381);
}
.listbox {
    background: var(--right-background-color);
    flex: 1;

color: var(--right-text-color);   
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.listbox .navbar{
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}
.listbox .searchbox{
    justify-content: center;
    display: flex;
    gap: 10px;
   flex: 1;
}
.listbox .navbar .extrabuttons{
    /* width: 25%; */

}
.listbox .searchbox button{
    color: var(--right-text-color);
    width: fit-content;
}
.listbox .searchbox input{
    padding: 5px 10px;
    border-radius: 10px;
    flex: 1;
}
.listbox .extrabuttons button{
    display: flex;
    justify-content:center;
    align-items: center;
}
.listbox button{
    color: var(--right-text-color);
    background-color:#061f35;
    padding: 8px;
    border-radius: 5px;
}
.listbox ul {
    list-style: none;
}


.listbox li {
    background-color:#061f35;
    cursor: pointer;
    padding: 5px 10px;
    /* border-radius: 20px; */
    margin-bottom: 1px;
    overflow-x: hidden;
}

li.currentmusicstyle {
   background-color: rgb(37, 57, 8);
}

li.predictedsong {
    outline: 2px solid white;
}

.controlsection {
    /* background-color: #1C7C34; */
    display: flex;
    height: 20%;
    /* flex: 1; */
    flex-direction: column;
    align-items: center;
    /* margin: 10px; */
    /* padding: 10px 5px; */
    background: var(--gradient-accent);
    justify-content: center;

    /* border-radius: 50px; */
    
}

#rangebox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#timeSlider {
    cursor: pointer;
    width: 60%;
    margin: 5px;
}

.controlerbox {
    width: 60%;
    display: flex;
    gap: 10%;
    justify-content: center;
    align-items: center;
}

.controlerbox button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controlerbox img {
    width: 30px;
    cursor: pointer;
}

@media screen and (max-width: 450px) {
     .listbox{
        display: none;
     }
     .imageframe{
        flex-direction: column;
     }
}